<%= form_with(model: @estate, local: true) do |form| %>
  <div class="estate_form">
    <%= form.label :物件名 %>
    <%= form.text_field :name %>
  </div>
  <div class="estate_form">
    <%= form.label :賃料 %>
    <%= form.text_field :fee %>
  </div>
  <div class="estate_form">
    <%= form.label :住所 %>
    <%= form.text_field :adress %>
  </div>
  <div class="estate_form">
    <%= form.label :耐用年数 %>
    <%= form.text_field :year %>
  </div>
  <div class="border">
    <%= form.label :備考 %>
    <%= form.text_field :memo %>
  </div>

    <%= form.fields_for :stations do |station| %>
      <h4>最寄駅</h4>
      <div class="estate_form">
      <%= station.label :路線 %>
      <%= station.text_field :route %>
      </div>
      <div class="estate_form">
      <%= station.label :駅名 %>
      <%= station.text_field :name %>
      </div>
      <div class="estate_form">
      <%= station.label :徒歩数 %>
      <%= station.text_field :time %>
      </div>
    <% end %>

  <%= form.submit %>
<% end %>

<%= form_with(model: @estate2, local: true) do |form| %>
    <%= form.fields_for :station do |station| %>
      <h4>最寄駅</h4>
      <div class="estate_form">
      <%= station.label :路線 %>
      <%= station.text_field :route %>
      </div>
      <div class="estate_form">
      <%= station.label :駅名 %>
      <%= station.text_field :name %>
      </div>
      <div class="estate_form">
      <%= station.label :徒歩数 %>
      <%= station.text_field :time %>
      </div>
    <% end %>
  <%= form.submit %>
<% end %>
