<%= form_with model: @estate, local: true do |form| %>
  <div class="estate_form">
    <%= form.label :物件名 %>
    <%= form.text_field :name %>
  </div>
  <div class="estate_form">
    <%= form.label :賃料 %>
    <%= form.text_field :fee %>
  </div>
  <div class="estate_form">
    <%= form.label :住所 %>
    <%= form.text_field :adress %>
  </div>
  <div class="estate_form">
    <%= form.label :耐用年数 %>
    <%= form.text_field :year %>
  </div>
  <div class="estate_form">
    <%= form.label :備考 %>
    <%= form.text_field :memo %>
  </div>

    <h4>最寄駅1</h4>
    <%= form.fields_for :station do |station| %>
      <div class="estate_form">
      <%= station.label :路線 %>
      <%= station.text_field :route %>
      </div>
      <div class="estate_form">
      <%= station.label :駅名 %>
      <%= station.text_field :name %>
      </div>
      <div class="estate_form">
      <%= station.label :徒歩数 %>
      <%= station.text_field :time %>
      </div>
    <% end %>

    <h4>最寄駅2</h4>
    <%= form.fields_for :station do |station| %>
      <div class="estate_form">
      <%= station.label :路線 %>
      <%= station.text_field :route %>
      </div>
      <div class="estate_form">
      <%= station.label :駅名 %>
      <%= station.text_field :name %>
      </div>
      <div class="estate_form">
      <%= station.label :徒歩数 %>
      <%= station.text_field :time %>
      </div>
    <% end %>
    <h4>最寄駅を追加</h4>
    
  <%= form.submit %>
<% end %>