<!DOCTYPE html>
<html>
  <head>
    <title>DevExam</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a>[mofmof] </a>
      <%= link_to '[一覧へ]', estates_path %>
      <%= link_to '[登録へ]', new_estate_path %>
    </header>
    <%= yield %>
  </body>
</html>
